@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

body 
{
    /* border: 5px solid red; */
    width:100vw;
    height: 100vh;
    background: black;
    color: white;
}
